xml/circuito.dtd

<!ELEMENT circuito (nombre, longitud, anchuraMedia, fecha, horaInicio, numeroVueltas, localidadProxima, pais, patrocinador, referencias, fotografias, videos, puntoOrigen, tramos, vencedor, tiempoVencedor, clasificados)>

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT longitud (#PCDATA)>
<!ATTLIST longitud cantidad CDATA #REQUIRED>
<!ATTLIST longitud unidad CDATA #REQUIRED>
<!ELEMENT anchuraMedia (#PCDATA)>
<!ATTLIST anchuraMedia cantidad CDATA #REQUIRED>
<!ATTLIST anchuraMedia unidad CDATA #REQUIRED>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT horaInicio (#PCDATA)>
<!ELEMENT numeroVueltas (#PCDATA)>
<!ELEMENT localidadProxima (#PCDATA)>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT patrocinador (#PCDATA)>
<!ELEMENT referencias (referencia+)>
<!ELEMENT referencia  (#PCDATA)>
<!ATTLIST referencia fuente CDATA #REQUIRED>
<!ATTLIST referencia enlace CDATA #REQUIRED>
<!ELEMENT fotografias  (fotografia+)>
<!ELEMENT fotografia  EMPTY>
<!ATTLIST fotografia 
    url CDATA #REQUIRED
    descripcion CDATA #IMPLIED>
<!ELEMENT videos  (video+)>
<!ELEMENT video  EMPTY>
<!ATTLIST video 
    url CDATA #REQUIRED
    descripcion CDATA #IMPLIED>
<!ELEMENT puntoOrigen (longitudPunto, latitud, altitud)>
<!ELEMENT tramos (tramo+)>
<!ELEMENT tramo (punto, distancia, sector)>
<!ELEMENT punto (longitudPunto, latitud, altitud)>
<!ELEMENT longitudPunto (#PCDATA)>
<!ATTLIST longitudPunto cantidad CDATA #REQUIRED>
<!ATTLIST longitudPunto unidad CDATA #REQUIRED>
<!ELEMENT latitud (#PCDATA)>
<!ATTLIST latitud cantidad CDATA #REQUIRED>
<!ATTLIST latitud unidad CDATA #REQUIRED>
<!ELEMENT altitud (#PCDATA)>
<!ATTLIST altitud cantidad CDATA #REQUIRED>
<!ATTLIST altitud unidad CDATA #REQUIRED>
<!ELEMENT distancia (#PCDATA)>
<!ATTLIST distancia cantidad CDATA #REQUIRED>
<!ATTLIST distancia unidad CDATA #REQUIRED>
<!ELEMENT sector (#PCDATA)>
<!ELEMENT vencedor (#PCDATA)>
<!ELEMENT tiempoVencedor (#PCDATA)>
<!ELEMENT clasificados (clasificado+)>
<!ELEMENT clasificado (#PCDATA)>
